<div class='container'>
  <div class='jumbotron welcome-image'>
    
    <div class='row'>
      <div class='col-sm-5'>
          <p class="top top-left">ゲストとしてプランを投稿</p>
      </div>
      <div class='col-sm-2'>
      </div>
      <div class='col-sm-5'>
        <p class="top top-right">オーナーとしてプランに返答</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class='col-md-4 col-md-offset-1'>
      <h2>ゲストの方へ</h2>
      <p>たびポストは、お客様の理想とするプランに合わせた宿泊先を提示するサービスです。</p>
    </div>
    <div class='col-md-4 col-md-offset-1'>
      <h2>オーナーの方へ</h2>
      <p>たびポストは、宿泊先をお探しのお客様へより理想的な宿泊先を提示するサービスです。お客様のご要望に合わせた貴社のセールスポイントを提示することが可能です。</p>
    </div>
  </div>
</div>


