<div class=container>
	<div class=jumbotron>
		<h1>welcome to hotel app</h1>
	</div>
	<a class="btn btn-lg btn-primary" href="<%= new_guest_path %>">ゲスト登録</a>
	<a class="btn btn-lg btn-info" href="<%= new_owner_path %>">オーナー登録</a>
	<% if user_signed_in? %>
		<% if current_user.role == "guest" %>
		<a class="btn btn-lg btn-info" href="<%= new_plan_path %>">予定投稿</a>
		<% elsif current_user.role == "owner" %>
		<a class="btn btn-lg btn-info" href="#">予定検索</a>
		<% end %>
	<% end %>
</div>


