<div class='container'>
  <div class='jumbotron welcome-image'>
    
    <div class='row'>
      <div class='col-md-5'>
          <p class="top top-left">ゲストとしてプランを投稿</p>
      </div>
      <div class='col-md-2'>
      </div>
      <div class='col-md-5'>
        <p class="top top-right">オーナーとしてプランに返答</p>
      </div>
    </div>
  </div>
  <h2>たびポストは、ゲストとして旅のプランを投稿しホテルや旅館側からご自分にあったプランを提案してもらう、<br>またオーナーとして旅行を検討中のお客様を探し返答する相互サービスです。</h2>
</div>


