<div class=container>
  <div class=jumbotron>
    <h1>welcome to hotel app</h1>
  </div>
  <% if !user_signed_in? %>
    <%= link_to "ゲスト登録",new_user_registration_path( role:'guest'), class:"btn btn-lg btn-info" %>
    <%= link_to "オーナー登録",new_user_registration_path( role:'owner'), class:"btn btn-lg btn-primary" %>
  <% end %>
  <% if user_signed_in? %>
    <% if current_user.role == "guest" %>
      <a class="btn btn-lg btn-info" href="<%= new_plan_path %>">予定投稿</a>
    <% elsif current_user.role == "owner" %>
      <a class="btn btn-lg btn-info" href="<%=plans_path%>">予定検索</a>
    <% end %>
  <% end %>
</div>


